*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
  color: #fff;
}
nav{
  width: 100%;
  padding: 20px 0;
}
nav ul li{
  margin: 25px 20px;
}
nav ul li a{
 color: #fff;
 text-decoration: underline;
 font-size: 17px;
 font-style: oblique;
 text-decoration-color:cyan;
}
.content{
 margin-top: 7%;
}
.content h1{
 font-size: 60px;
 margin-bottom: 12px;
}
.content h1 span{
 color: rgb(9, 240, 240);
 font-style: italic;
}
.content p{
 font-size: 20px;
 font-style: oblique;
}
.content p span{
 color: #fff;
}
.pagehead{
  color: rgb(16, 6, 108);
  font-size: x-large;
  text-decoration: solid;
 margin-top: 2%;
 margin-left: 7%;
 margin-right: 7%;
 margin-bottom: 3%;
}
.pagecont{
  margin-bottom: 7%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 7%;
  text-align: justify;
  color:rgb(17, 18, 18) ;
  font-size: large;
}
